<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        input.search-keyword{
            display: inline-block;
        }

        p.item-title{
            display: inline-block;
        }

        p.item-price{
            display: inline-block;
        }

    </style>
</head>
<body>

<!--/*@thymesVar id="itemListCommand" type="com.gp.wang.web.ItemListCommand"*/-->
<!--/*@thymesVar id="items" type="org.springframework.beans.support.PagedListHolder<com.gp.wang.domain.Item>"*/-->
<form action="#" th:action="@{/items}" th:object="${itemListCommand}" method="post">
    <fieldset class="search-controls">
        <input class="search-keyword" type="text" th:field="*{keyword}" />
        <button type="submit" name="search" >Search</button>
    </fieldset>

    <fieldset class="content">
        <ul class="items">
            <li class="item" th:each="item : ${items.pageList}" >
                <p class="item-title" th:text="${item.title != null ? item.title : 'No Title'}"></p>
                <p class="item-price" th:if="${item.price != null}" th:text="'($' + ${item.price} + ')'"></p>
            </li>
        </ul>
    </fieldset>

    <fieldset class="pagination-controls">

        <a th:if="${!items.firstPage}" th:href="@{/items(page='previous')}">Previous</a>
        <span th:text="${ 'Page ' + (items.page + 1)}">1 / 10</span>
        <a th:if="${!items.lastPage}" th:href="@{/items(page='next')}">Next</a>
    </fieldset>
</form>



</body>

</html>